      <ion-view view-title="PASSWORD RESET">
        <ion-content class="padding">
          <div class="list">
            <label class="item item-input">
              <span class="input-label">New Password</span>
              <input type="password" ng-model="password.a">
            </label>
            <label class="item item-input">
              <span class="input-label">Confirm Password</span>
              <input type="password" ng-model="password.b">
            </label>              
          </div>
          <div class="padding">
              <br>
            <button class="button button-block button-assertive" style="width:75%; margin:auto;" ng-click="resetPassword(password)">
              Reset Password
            </button>
          </div>
        </ion-content>
      </ion-view>