<ion-view view-title="WELCOME" hide-back-button="true">
  <ion-content class="padding">
      <div>
        <img alt="Sub Threshold Logo" src="img/Logo%20A.png">
<!--
        <div class="centerAlign">
            <h2 class = "myFont" style="text-align: center;font-weight: 400;">Ready to do your practice departure exercises?<br><br>Let&rsquo;s do this!</h2>
        </div>
        <div class="fixedBottom">
            <a href="#/app/login"><button class="button button-assertive myFont"><strong>LOGIN</strong></button></a>
        </div>      
-->
      </div>
      <br><br>
      <h2 style="text-align: center;font-weight: 400;">Ready to do your practice departure exercises?<br><br>Let&rsquo;s do this!</h2>
      <br><br>
<!--      <a class="button button-block button-assertive" href="#/app/login"><strong>LOGIN</strong></a>-->
      <button class="button button-block button-assertive" style="width:75%; margin:auto;" ng-click="loginWelcome()">
          <strong>LOGIN</strong>
      </button>
      <br>
      <button class="button button-block button-energized" style="width:75%; margin:auto;" ng-click="clearDB()">
          <strong>Clear Database</strong>
      </button>      
  </ion-content>
</ion-view>

clearDB